# IDE and environment files
.idea
.env

# Ignore the "backup" folder except for tar.gz files
backup
!backup/.gitkeep
!backup/*.tar.gz

# Ignore "palworld" folder but allow "backups" tar.gz files
palworld/
!palworld/backups/
!palworld/backups/*.tar.gz
!palworld/
